<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>高坂</key>
	<array>
		<string>21:27</string>
		<string>21:08</string>
		<string>20:55</string>
		<string>20:34</string>
		<string>20:08</string>
		<string>19:55</string>
		<string>19:39</string>
		<string>19:26</string>
		<string>19:06</string>
		<string>18:55</string>
		<string>18:43</string>
		<string>18:37</string>
		<string>18:27</string>
		<string>18:21</string>
		<string>18:07</string>
		<string>18:00</string>
		<string>17:53</string>
		<string>17:40</string>
		<string>17:30</string>
		<string>17:25</string>
		<string>17:09</string>
		<string>17:01</string>
		<string>16:56</string>
		<string>16:44</string>
		<string>16:39</string>
		<string>16:31</string>
		<string>16:17</string>
		<string>16:09</string>
		<string>16:01</string>
		<string>15:44</string>
		<string>15:34</string>
		<string>15:15</string>
		<string>15:13</string>
		<string>15:09</string>
		<string>15:01</string>
		<string>14:46</string>
		<string>13:46</string>
		<string>14:31</string>
		<string>14:16</string>
		<string>14:06</string>
		<string>13:31</string>
		<string>13:17</string>
		<string>13:07</string>
		<string>13:00</string>
		<string>12:52</string>
		<string>12:46</string>
		<string>12:31</string>
		<string>12:16</string>
		<string>12:01</string>
		<string>11:46</string>
		<string>11:31</string>
		<string>11:16</string>
		<string>11:02</string>
		<string>10:45</string>
		<string>10:31</string>
		<string>10:15</string>
		<string>10:07</string>
		<string>9:46</string>
	</array>
	<key>北坂戸</key>
	<array>
		<string>20:31</string>
		<string>19:34</string>
		<string>19:09</string>
		<string>18:53</string>
		<string>18:25</string>
		<string>17:38</string>
		<string>17:27</string>
		<string>17:07</string>
		<string>16:54</string>
		<string>16:37</string>
		<string>15:46</string>
		<string>15:17</string>
		<string>14:35</string>
		<string>14:05</string>
		<string>13:35</string>
		<string>13:05</string>
		<string>12:35</string>
		<string>11:35</string>
		<string>11:00</string>
		<string>10:33</string>
	</array>
	<key>熊谷</key>
	<array>
		<string>20:20</string>
		<string>18:40</string>
		<string>17:20</string>
		<string>17:00</string>
		<string>15:15</string>
		<string>13:25</string>
		<string>11:45</string>
	</array>
</dict>
</plist>
